.App {
  min-height: 100vh;
  padding: 1rem;
}

.App li {
  list-style-type: none;
}

.App-header {
  text-align: center;
  border-bottom: 1px solid;
}

.App-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  /* text-align: center; */
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
